$primary-color: #0277bd;
$light-color: #58a5f0;
$dark-color: #004c8c;
$lighter-color: #deedfc;

$neutral-dark: #5a5a5a;
$neutral-light: #888888;
$neutral-lighter: #a9a9a9;
$neutral-lightest: #efefef;

$box-shadow-light: rgba(33, 33, 33, 0.2);//used for box-shadows
$box-shadow-dark: rgb(89, 87, 87);

$breakpoint-tablet-large: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;